.categories {
  height: 100vh;
  overflow: visible;
  position: relative;

  h1 {
    color: black;
  }

  button {
    font-family: "Dosis";
    height: 50px;
    width: 90px;
    border-radius: 30px;
    font-size: 1rem;
  }

  .card {
    border-radius: 30px;
    box-shadow: 0px 2px 10px grey;
    border: none;
    margin: 2px;
    outline: none;
    width: 300px;
    font-family: "Dosis";
    font-size: 1rem;

    &::placeholder {
      color: black;
      font-family: "Dosis";
    }

    &:focus {
      color: black;
    }

    &:hover {
      box-shadow: 0px 2px 15px grey;
    }
  }

  .container {
    height: 100vh;
    overflow: visible;
  }

  .flex {
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
  }

  .flex-column {
    gap: 5px;
    position: relative;
  }

  .flex-space {
    width: 100%;
    margin-bottom: 40px;
  }

  .categorie {
    justify-content: start;
    width: 333.33px;

    * {
      align-self: start;
    }
  }

  #play-now {
    position: absolute;
    color: white;
    top: 60px;
    left: 36%;
  }

  .categorie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    a {
      font-size: 20px;
    }
  }

  .categorie-card {
    border-radius: 30px;
    box-shadow: 0px 2px 10px grey;
    border: none;
    margin: 2px;
    outline: none;
    width: auto;
    height: auto;
    font-family: "Dosis";
    font-size: 1rem;
    padding: 1rem;
  }
}
