.features {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  height: 100vh;

  .container {
    overflow: visible;
  }

  svg {
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  .flex {
    gap: 200px;
  }

  .flex-column {
    justify-content: flex-start;
    align-items: start;
    width: 300px;
    gap: 20px;
  }
}
