.hero {
  height: 100vh;
  width: 100vw;
  color: black;
  h1 {
    font-weight: 2900;
  }

  p {
    color: rgb(165, 165, 165);
  }

  .flex-column {
    gap: 30px;
  }

  .gap {
    gap: 20px;
    width: 500px;
  }

  .btn {
    align-self: flex-start;
  }

  .bg-1 {
    position: absolute;
    z-index: -100;
    top: -130px;
  }

  .bg-2 {
    position: absolute;
    z-index: -101;
    top: -140px;
  }
  .grid {
    grid-template-columns: 3fr 1fr;
  }

  .img {
    height: 600px;
    width: 600px;
  }
}
