.login {
  input {
    border: none;
    border-bottom: solid 1px gray;
    width: 250px;
    font-size: 1.3rem;
    font-family: Open Sans;
    outline: none;
  }
  h1 {
    font-size: 2.2rem;
    padding-top: 20px;
  }

  a {
    color: $Secondary-color;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    font-size: 0.8rem;
  }

  .flex-column {
    gap: 40px;
  }
  .card {
    border-radius: 60px;
    padding: 50px;
  }
}
