.nav {
  position: fixed;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 90px;
  width: 100%;
  z-index: 100;
  transition: ease-in 300ms;
  color: black !important;
  font-family: "Dosis";

  * {
    overflow: visible;
  }

  svg {
    transition: 400ms;
  }

  .container {
    width: 1200px;
  }
  ul {
    gap: 40px;
  }
  a {
    font-size: 18px;
    font-weight: 900;
    // position: relative;

    &:hover {
      cursor: pointer;
    }
  }
  .btn,
  .btn-outline {
    border-radius: 20px;
    padding: 10px 20px;
  }

  img {
    margin-top: 20px;
  }

  .nav-hover {
    position: relative;
  }

  .nav-hover::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: red;
  }

  .categorie-drop {
    position: absolute;
    top: 70px;
    left: 800px;
  }

  .categorie-drop::before {
    content: url("../images/categorieDrop.svg");
    position: relative;
    right: 20px;
    top: -50px;

    height: 5px;
    width: 5px;
  }

  .scrolled {
    .categorie-drop {
      position: absolute;
      top: 60px;
      left: 800px;
    }

    .categorie-drop::before {
      content: url("../images/categorieDrop.svg");
      position: relative;
      right: 20px;
      top: -50px;

      height: 5px;
      width: 5px;
    }
  }
}
