* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  color: $text-color;
}

.hero * :not(.bg-1, .bg-2, .container :nth-child(2), .svg-container *) {
  animation: slideUp 700ms;
}

.container :nth-child(2),
.svg-container * {
  animation: fadeIn 1s;
}

.nav * {
  transition: ease;
  animation: slideDown 500ms;
}

a,
li {
  text-decoration: none;
  list-style: none;
  transition: 300ms;
  scale: 1;
}

.gap {
  gap: 30px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.btn {
  padding: 15px;
  border: transparent 2px solid;
  border-radius: 15px;
  color: white;
  background-color: $Secondary-color;
  transition: 300ms;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  transition: 400ms;
}

.card:hover {
  transform: scale(1.05);
}

.btn:hover {
  background-color: darken($color: $Secondary-color, $amount: 20);
  cursor: pointer;
}
.btn-light:hover {
  background-color: darken($color: white, $amount: 30);
  color: rgb(0, 0, 0);
}
.btn:active {
  transform: scale(0.98);
}

.btn-light {
  padding: 15px;
  border-radius: 15px;
  color: rgb(0, 0, 0);
  background-color: white;
  transition: 300ms;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.scrolled {
  background: rgba(255, 255, 255, 0.856) !important;
  color: black;
  box-shadow: rgb(153, 153, 153) 0 2px 15px 0;
  .btn-light {
    border: 2px solid black;
  }
}
