@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes bg-animate-hover {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animate-hover {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  color: white;
}

.hero * :not(.bg-1, .bg-2, .container :nth-child(2), .svg-container *) {
  -webkit-animation: slideUp 700ms;
          animation: slideUp 700ms;
}

.container :nth-child(2),
.svg-container * {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.nav * {
  -webkit-transition: ease;
  transition: ease;
  -webkit-animation: slideDown 500ms;
          animation: slideDown 500ms;
}

a,
li {
  text-decoration: none;
  list-style: none;
  -webkit-transition: 300ms;
  transition: 300ms;
  scale: 1;
}

.gap {
  gap: 30px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.btn {
  padding: 15px;
  border: transparent 2px solid;
  border-radius: 15px;
  color: white;
  background-color: #80bcc9;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.card {
  background-color: white;
}

.btn:hover {
  background-color: #448f9f;
  cursor: pointer;
}

.btn-light:hover {
  background-color: #b3b3b3;
  color: black;
}

.btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-light {
  padding: 15px;
  border-radius: 15px;
  color: black;
  background-color: white;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.text-center {
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

section {
  height: 100vh;
}

.scrolled {
  background-color: white;
  color: black;
  -webkit-box-shadow: #999999 0 2px 15px 0;
          box-shadow: #999999 0 2px 15px 0;
}

.scrolled .btn-light {
  border: 2px solid black;
}

.nav {
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  height: 110px;
  width: 100%;
  z-index: 100;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}

.nav .container {
  width: 1200px;
}

.nav ul {
  gap: 40px;
}

.nav a {
  font-size: 18px;
  font-weight: bolder;
}

.nav .btn {
  border-radius: 20px;
  padding: 10px 20px;
}

.nav img {
  margin-top: 20px;
}

.hero {
  height: 100vh;
  width: 100vw;
}

.hero h1 {
  font-weight: 2900;
}

.hero p {
  color: #dadada;
}

.hero .gap {
  gap: 20px;
  width: 500px;
}

.hero .btn {
  width: 40%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.hero .bg-1 {
  position: absolute;
  z-index: -100;
  top: -130px;
}

.hero .bg-2 {
  position: absolute;
  z-index: -101;
  top: -140px;
}

.hero .grid {
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.hero .img {
  height: 600px;
  width: 600px;
}
/*# sourceMappingURL=styles.css.map */