@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes left-diagonal-slide {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes left-diagonal-slide {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes bg-animate-hover {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animate-hover {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@-webkit-keyframes enlarge-deflate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes enlarge-deflate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bobbing {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes bobbing {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes wiggleWiggle {
  20%,
  100% {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  10% {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
}

@keyframes wiggleWiggle {
  20%,
  100% {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  10% {
    -webkit-transform: translate(0, 2px);
            transform: translate(0, 2px);
  }
}

@-webkit-keyframes Rise {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes Rise {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans;
  color: black;
  overflow-x: hidden;
}

h1 {
  font-family: Dosis;
}

.hero * :not(.bg-1, .bg-2, .container :nth-child(2), .svg-container *) {
  -webkit-animation: slideUp 700ms;
          animation: slideUp 700ms;
}

.container :nth-child(2),
.svg-container * {
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.nav * {
  -webkit-transition: ease;
  transition: ease;
  -webkit-animation: slideDown 500ms;
          animation: slideDown 500ms;
}

a,
li {
  text-decoration: none;
  list-style: none;
  -webkit-transition: 400ms;
  transition: 400ms;
  scale: 1;
}

.gap {
  gap: 30px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.btn {
  padding: 15px;
  border: transparent 2px solid;
  border-radius: 15px;
  color: white;
  background-color: #6c63ff;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.btn:hover {
  background-color: #0f00fc;
  cursor: pointer;
}

.btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.card:hover {
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.568);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.568);
}

.btn-outline {
  padding: 15px;
  border-radius: 15px;
  color: #6c63ff;
  background-color: white;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: solid #6c63ff 1px;
}

.btn-outline:hover {
  cursor: pointer;
  background-color: #0c00c9;
  color: white;
}

.btn-outline:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.text-center {
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.scrolled {
  background: rgba(255, 255, 255, 0.856) !important;
  color: black;
  -webkit-box-shadow: #999999 0 1px 10px 0;
          box-shadow: #999999 0 1px 10px 0;
  height: 60px !important;
}

.rise {
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.back {
  top: 150px;
  left: 150px;
  position: absolute;
  color: blue;
}

.back:hover {
  cursor: pointer;
}

.height {
  height: 100vh;
}

.nav {
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  height: 90px;
  width: 100%;
  z-index: 100;
  -webkit-transition: ease-in 300ms;
  transition: ease-in 300ms;
  color: black !important;
}

.nav * {
  overflow: visible;
}

.nav svg {
  -webkit-transition: 400ms;
  transition: 400ms;
}

.nav .container {
  width: 1200px;
}

.nav ul {
  gap: 40px;
}

.nav a {
  font-size: 18px;
  font-weight: 900;
}

.nav a:hover {
  cursor: pointer;
}

.nav .btn,
.nav .btn-outline {
  border-radius: 20px;
  padding: 10px 20px;
}

.nav .card {
  position: absolute;
  top: 15px;
  left: 0;
}

.nav #categories::after {
  content: url("../images/marker.svg");
  position: absolute;
  right: -22px;
  bottom: 0;
}

.nav img {
  margin-top: 20px;
}

.nav .categorie-drop {
  position: absolute;
  top: 70px;
  left: 800px;
}

.nav .categorie-drop::before {
  content: url("../images/categorieDrop.svg");
  position: relative;
  right: 20px;
  top: -50px;
  height: 5px;
  width: 5px;
}

.nav .scrolled .categorie-drop {
  position: absolute;
  top: 60px;
  left: 800px;
}

.nav .scrolled .categorie-drop::before {
  content: url("../images/categorieDrop.svg");
  position: relative;
  right: 20px;
  top: -50px;
  height: 5px;
  width: 5px;
}

.hero {
  height: 100vh;
  width: 100vw;
  color: black;
}

.hero h1 {
  font-weight: 2900;
}

.hero p {
  color: #a5a5a5;
}

.hero .flex-column {
  gap: 30px;
}

.hero .gap {
  gap: 20px;
  width: 500px;
}

.hero .btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.hero .bg-1 {
  position: absolute;
  z-index: -100;
  top: -130px;
}

.hero .bg-2 {
  position: absolute;
  z-index: -101;
  top: -140px;
}

.hero .grid {
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.hero .img {
  height: 600px;
  width: 600px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
  height: 100vh;
}

.features .container {
  overflow: visible;
}

.features svg {
  -webkit-transition: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.features .flex {
  gap: 200px;
}

.features .flex-column {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 300px;
  gap: 20px;
}

.categories {
  height: 100vh;
  overflow: visible;
  position: relative;
}

.categories h1 {
  color: black;
}

.categories button {
  font-family: "Dosis";
  height: 50px;
  width: 90px;
  border-radius: 30px;
  font-size: 1rem;
}

.categories .card {
  border-radius: 30px;
  -webkit-box-shadow: 0px 2px 10px grey;
          box-shadow: 0px 2px 10px grey;
  border: none;
  margin: 2px;
  outline: none;
  width: 300px;
  font-family: "Dosis";
  font-size: 1rem;
}

.categories .card::-webkit-input-placeholder {
  color: black;
  font-family: "Dosis";
}

.categories .card:-ms-input-placeholder {
  color: black;
  font-family: "Dosis";
}

.categories .card::-ms-input-placeholder {
  color: black;
  font-family: "Dosis";
}

.categories .card::placeholder {
  color: black;
  font-family: "Dosis";
}

.categories .card:focus {
  color: black;
}

.categories .card:hover {
  -webkit-box-shadow: 0px 2px 15px grey;
          box-shadow: 0px 2px 15px grey;
}

.categories .container {
  height: 100vh;
  overflow: visible;
}

.categories .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 100%;
}

.categories .flex-column {
  gap: 5px;
  position: relative;
}

.categories .flex-space {
  width: 100%;
  margin-bottom: 40px;
}

.categories .categorie {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 333.33px;
}

.categories .categorie * {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.categories #play-now {
  position: absolute;
  color: white;
  top: 60px;
  left: 36%;
}

.facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.facts .flex-column {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 350px;
  gap: 20px;
}

.facts .flex {
  gap: 200px;
  overflow: visible;
}

.soon {
  color: black;
}

.soon .flex {
  gap: 200px;
  overflow: visible;
}

.soon .flex-column {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 350px;
  gap: 20px;
}

.soon .container {
  overflow: visible;
}

.mobile {
  height: 100vh;
}

.mobile * {
  overflow: visible;
}

.mobile input::-webkit-input-placeholder {
  color: white;
}

.mobile input:-ms-input-placeholder {
  color: white;
}

.mobile input::-ms-input-placeholder {
  color: white;
}

.mobile input::placeholder {
  color: white;
}

.mobile h1 {
  color: #6c63ff;
}

.mobile .container {
  gap: 70px;
}

.mobile svg path {
  -webkit-transition: ease;
  transition: ease;
}

footer {
  background-color: #ecebff;
  padding: 30px;
}

footer p {
  font-size: 0.7rem;
  margin: 5px 0;
}

footer p:hover {
  color: #6c63ff;
  cursor: pointer;
}

footer .container {
  height: 400px;
}

footer .flex {
  gap: 200px;
}

footer .flex-space {
  width: 100%;
  margin-top: 150px;
}

.main {
  height: 100vh;
}

.main p {
  color: #616161;
}

.main .container {
  height: 100%;
}

.main #customize {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.main .card {
  text-align: center;
  gap: 10px;
  border-radius: 20px;
  height: 300px;
}

.main .card:hover {
  cursor: pointer;
}

.main .quick-play h2 {
  color: #6c63ff;
}

.main .quick-play .card {
  width: 700px;
}

.login input {
  border: none;
  border-bottom: solid 1px gray;
  width: 250px;
  font-size: 1.3rem;
  font-family: Open Sans;
  outline: none;
}

.login h1 {
  font-size: 2.2rem;
  padding-top: 20px;
}

.login a {
  color: #6c63ff;
}

.login a:hover {
  cursor: pointer;
}

.login p {
  font-size: 0.8rem;
}

.login .flex-column {
  gap: 40px;
}

.login .card {
  border-radius: 60px;
  padding: 50px;
}

.signUp input {
  border: none;
  border-bottom: solid 1px gray;
  width: 250px;
  font-size: 1.3rem;
  font-family: Open Sans;
  outline: none;
}

.signUp h1 {
  font-size: 2.2rem;
  padding-top: 20px;
}

.signUp a {
  color: #6c63ff;
}

.signUp a:hover {
  cursor: pointer;
}

.signUp p {
  font-size: 0.8rem;
}

.signUp .flex-column {
  gap: 40px;
}

.signUp .card {
  border-radius: 80px;
  padding: 50px 90px;
}
/*# sourceMappingURL=styles.css.map */